{% load bootstrap3 %}

{% if attributes.text %}
	{% include "crud/text_widget.html" with text=attributes.text %}
{% endif %}

{% if attributes.links %}
	{% include "crud/links_widget.html" with links=attributes.links %}
{% endif %}

<form method="post" role="form" class="{% if attributes.class %}{{ attributes.class }}{% else %}form-horizontal{% endif %}">
	{% csrf_token %}

    {% if next %}
    	<div><input type="hidden" name="next" value="{{ next }}" /></div>
    {% endif %}
    
    {% bootstrap_form form layout='horizontal' %}
	{% buttons submit="Save" layout='horizontal' %}
		<button type="button" class="btn btn-default" onclick="history.back(-1)">Cancel</button>	
	{% endbuttons %}
</form>
